/*SOBRE NOSOTROS*/
.imagenNosotros{
    height: 18rem;
    object-fit:contain
  }

  /*MEDIAS*/
  @media screen and (max-width:1024px) {
   
    .nav-linkyy{
   font-size: 1rem;
   text-decoration: none;
   color: #fefefe;
 }
 
}
@media screen and (max-width:992px) {

}
@media screen and (max-width:768px) {

}
@media screen and (max-width:425px) {

}
@media screen and (max-width:375px) {

}
@media screen and (max-width:320px) {

}